{% extends "base.html" %}
{% block header %}{% endblock header%}
{% block title %}Список всех заказов{% endblock title%}
{% block content %}
    {% if all.count > 0 %}
    <h2>Все заказы</h2>
    <table>
    <tr><th>Id</th><th>Рег.ном</th><th>ФИО</th></tr>
    {% for car in all %}
    <tr><td>{{ car.id }}</td>
        <td>{{ car.car_reg_nun }}</td>
        <td>{{ car.car_owner }}</td>
        <td><a class="btn btn-primary btn-sm" href="edite/{{ car.id }}">редактировать данные об авто</a></td>
        <td><a class="btn btn-danger btn-sm" href="delete/{{ car.id }}">удалить</a></td>
        <td><a class="btn btn-warning btn-sm" href="edite_date_order/{{ car.id }}">редактировать форму работ.</a></td>
        <td><a class="btn btn-link btn-sm" href="test/{{ car.id }}">тест</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}