{% extends 'base.html' %}
{% block content %}
     <span style="font-size: x-large; "><b>Редактирование работ по заказу № {{ id }} рег.ном {{ reg_num }}</b></span>
    {%  for a in context %}
        <li><strong>{{ a }}</strong> </li>
    {% endfor %}


        <p><a class="btn btn-primary" href="jobs_engine/" >раб. по двигателю</a></p>
        <p><a class="btn btn-primary" href="jobs_transmission/" >раб. по трансмиссии</a></p>
        <p><a class="btn btn-primary" href="jobs_suspended/" >раб. по подвеске</a></p>
        <p><a class="btn btn-primary" href="jobs_condition/" >раб. по кондею</a></p>
        <p><a class="btn btn-primary" href="jobs_electric/" >раб. по электрике</a></p>

{% endblock content %}