{% extends 'base.html' %}
{% block title %}Правка заказа № {{ id }}{% endblock title %}
{% block content %}
 <form action="" method="POST">
        {% csrf_token %}
        <table class= "link-formset">
            {{ form }}
        </table>
        <input type="Submit" name = "submit" value="Обновить заказ"/>
    </form>
{% endblock content %}