{% extends 'base.html' %}
{% block title %}
    Работы по двигателю на а/м {{ carorder.car_reg_nun }}
{% endblock title %}
{% block content %}
    <h2>Номер а/м {{ carorder.car_reg_nun }}</h2>
<form  method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
        {{ formset }}

    <button type="submit">Сохранить</button>
</form>
    <p><a type="button" class="btn btn-primary btn-lg " href="{% url 'edite_date_order' carorder.id %}">Вернуться к видам работ</a></p>
{%  for job in jobs %}
    <table class="table">
        {{ job.job_engine }} - {{ job.price }} - {{ job.job_file }} - {{ job.job_image }}
    </table>
{% endfor %}

{% endblock content %}