{% extends 'base.html' %}
{% block title %}Новый заказ{% endblock title %}
{% block content %}
<form method="POST" novalidate action="">
{% csrf_token %}
<table>
    {{ form }}
</table>
<input type="submit" name="submit" value="Создать заказ">
</form>



{% endblock content %}